<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body class="container" id="users-index">
    <header><%- include('../partials/header'); %></header>

    <main class="row d-flex justify-content-center">
      <section class="col-sm-8 py-4">
        <form id="contact-form" action="/send-email" method="POST">
          <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" id="email" name="email" required>
          </div>
          <button type="submit" class="btn btn-primary">Reset password</button>
        </form>
      </div>
        <a href="/login">Login</a>
      </section>
    </main>

    <footer><%- include('../partials/footer'); %></footer>
  </body>
</html>
