<meta charset="UTF-8">
<meta name="description" content="Find your perfect match for yourself and your pet!">
<meta name="author" content="Hicham Sahla">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Assignment 2</title>

<link rel="stylesheet" type="text/css" href="../dist/css/min/main.css" />
<link rel="stylesheet" type="text/css" href="../dist/css/coloris.min.css" />
<script src="../dist/js/coloris.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>



