<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body class="container" id="users-index">
    <header><%- include('../partials/header'); %></header>

    <main class="row d-flex justify-content-center">
      <section class="col-sm-8 py-4 text-center">
       
<h1>KEA assignment 2</h1>
<h3>Login or create an account</h3>
<a class="btn btn-primary mt-4" href="/login">Log in</a>
<a class="btn btn-outline-primary mt-4" href="/signup" class="btn">Sign up</a>
      </section>
    </main>

    <footer><%- include('../partials/footer'); %></footer>
    </section>
  </body>
</html>
